* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    min-height: 400px;
    font-family: 'Roboto Slab';
    background-color: #abc;
}

header {
    position: fixed;
    top: 0;
    height: 44px;
    width: 100%;
    transition: height .2s cubic-bezier(0.4, 0, 0.2, 1);
}

#email-icon {
    padding: 10px 0 10px 10px;
    opacity: .2;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
}

#email-icon:hover {
    opacity: .5;
}

#logotype {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#name {
    min-width: 250px;
    font-size: 80px;
    font-weight: 300;
    text-align: center;
}

#name br {
    display: none;
}

#name span {
    font-weight: 700;
}

.container {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#octocat:hover {
    opacity: .9;
}

@media (max-width: 520px) {
    body {
        line-height: 60px;
    }
    header {
        height: 56px;
    }
    #email-icon {
        height: 36px;
        width: 36px;
    }
    #name {
        padding-bottom: 24px;
    }
    #name br {
        display: initial;
    }
    #name span {
        font-size: 93px;
    }
}